/* Gallery Container */
.portfolio-page {
  font-family: 'Arial', sans-serif;
}

.portfolio-hero {
  background-image: url('../images/3-3.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.portfolio-hero h1  {
  font-size: 3.5rem;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
}

.portfolio-hero p {
  font-size: 1.2rem;
}

.gallery-container {
  text-align: center;
  margin: 0 auto;
  padding: 50px 20px;
  max-width: 1200px;
}

.gallery-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Playfair Display', serif;
}

.port-line-hr {
  width: 50px;
  height: 3px;
  background-color: #b5854b;
  border: none;
  margin: 10px auto 40px auto;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 50px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform .3s ease;
}

.gallery-item:hover {
  transform: translateY(-5px);
}

.gallery-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.modal-image {
  width: 100%;
  height: 80vh;
  margin: 10px;
  object-fit: contain;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
}

.modal-images img.zoom-out {
  animation: zoomOut 0.5s forwards;
}

@keyframes zoomOut {
  from {
      transform: scale(1.2);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}


.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .portfolio-hero h1 {
    font-size: 2.5rem;
  }

  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}